<div="post-create">
  <div class="post-create-form">
    <div class="user-profile-main-block-title">
      <h3>勉強方法を編集する</h3>
    </div>
    <% provide(:button_text, '編集する') %>
    <%= render "posts/post" %>
  </div>
</div>