<section class="menu-block">
  <% if params[:user_id] %>
    <h2><%= @user.name %>さんの投稿一覧</h2>
  <% else %>
    <h2>新着投稿一覧</h2>
  <% end %>
  <%= render "posts/postview" %>
</section>
<div class="pagination">
  <%= paginate @posts %>
</div>
<p><%= link_to "戻る", "/", class: "back-btn" %><p>