<div class="menu-block">
  <h2>検索結果一覧</h2>
  <p class="search-keyword">検索キーワード:<%= @keyword %></p>
  <% if @posts.present? %>
    <%= render "posts/postview" %>
    <%= paginate @posts %>
  <% else %>
    <p>検索結果はありません。</p>
  <% end %>
</div>
<%= link_to "もどる", root_path %>