/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*リセットCSS*/

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*リセットCSS終わり*/


html, body{
  height: 100% !important;
  margin: 0;
  background-color: #f8f9fa;
}

main{
  border-bottom: 1px solid #dee2e6;
}

.link-style{
  text-decoration: none !important;
  color: #565656;
}


h2{
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid #93c9ff;
  display: inline-block;
}

.icon{
  border-radius: 50%;
  margin-bottom:5px;
}

/*ヘッダー*/

header{
  background-color: white;
  height: 8%;
}
.header-menu{
  display: flex;
  position: relative;
  padding: 25px 10px;
  a{
    text-decoration: none !important;
    color: black;
    cursor: pointer;
  }
  nav{
    margin-left: auto;
  }
}
.header-menu-right{
  display: flex;
  list-style: none;
  a{
    margin: 0 10px;
  }
}

/*フォーム*/
.form{
  margin-top: 30px;
  &-details{
    .guest{
      font-size: 15px;
      margin-left: 10%;
    }
    margin: 0 auto;
    border: 1px solid #dee2e6;
    background-color: white;
    width: 60%;
    padding: 30px;
    .form-group{
      margin: 30px;
    }
    .login, .signup, .post{
      text-align: center;
    }
    &-post{
      textarea{
        width: 100%;
        height: 700px;
      }
      .category{
        width: 100%;
      }
      input{
        width: 100%;
      }

    }
  }
  p{
    margin-top: 20px;
    text-align: center;
  }
}

/*トップページ*/
.top-page{
  position: relative;
  height: 70vh;
  background-image: image-url('topimage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 40px;

  &-text{
    position: absolute;
    top: 30%;
		left: 5%;
		width: 400px;
    margin: 2em auto;
    padding: 1em;
    background-color: rgba(238, 238, 238, 0.65);
		border: 1px solid #ccc; /* 枠線 */
		h1{
      color: black;
      font-size: 60px;
		}
	}
}

/*検索フォーム*/
.search{
  width: 1000px;
  position: absolute;
  padding: 25px;
  background-color: white;
  top: 75%;
  left: 15%;
  display: flex;
  align-items: center;
  p{
    font-weight: 500;
  }
  .hoge{
    margin-left: 15px;
    width: 700px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 50px;
  }
  .btn{
    height: 50px;
  }
}

.menu-block{
  background-color: white;
  margin: 0 auto;
  width:70%;
  padding: 20px;
  margin-top: 30px;
  &-title{
    font-weight: 500;
  }
}
.category-menu{
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  li{
    display: inline-block;
  }
  .reading{
    color: green;
  }
  .listenig{
    color: red;
  }
  .writing{
    color: orange;
  }
  .speaking{
    color:blue;
  }
  p{
    padding: 15px 0;
    font-weight: 500;
  }
}

.post-all-division-top{
  background-color: #faf8f5;
  display: flex;
  .icon{
    margin-top: 8px;
    margin-left: 10px;
  }
  &-user{
    color: #6c757d;
    font-size: 12px;
    display: inline-block;
  }
}


/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}


/*投稿詳細ページ*/
.post-show{
  background-color: white;
  margin: 0 auto;
  width: 95%;
  height: 100%;
  .post-content-title{
  margin-top: 20px;
  margin-left: 20px;
  }
  aside{
    margin: 30px;
    border: 1px solid #dee2e6;
    width: 80%;
    .post-others{
      font-weight: 500;
      padding: 10px;
      background-color: #faf8f5;
      &-each{
        border: 1px solid #dee2e6;
        margin: 5px 0;
        .post-title{
          background-color: white;
        }
      }
    }
  }
}
.post{
  margin-top: 30px;
  padding: 30px;
  &-user{
    display: flex;
    align-items: center;
    border: 1px solid #dee2e6;
    padding: 0 20px;
    &-icon{
      padding-top: 20px;
    }
    &-name{
      font-size: 12px;
      margin-left: 15px;
    }
  }
  &-content{
    border:1px solid #dee2e6;
    &-title{
      font-size: 25px;
      font-weight: 500;
    }
    &-body{
      height: auto;
      font-size: 14px;
      margin-top: 20px;
      text-align: center;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}

.edit-post{
  font-size: 13px;;
  width:200px;
  margin-left: auto;
}
/*日付*/
.date{
  color: #6c757d;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
/*コメント*/
.comment{
  margin: 0 30px;
  width: 80%;
  textarea{
    width: 100%;
    height: 80px;
  }
  &-content{
    margin-top: 5px;
  }
}

.comment-all{
  padding: 30px;
  .fa-comment{
    color: #6c757d;
    font-size: 15px;
    font-weight: 800;
  }
}

.comment-each{
  font-size: 11px;
  margin-top: 5px;
  &-content{
    display: flex;
    border: 1px solid #dee2e6;
    background-color: #faf8f5;
    padding: 8px;
  }
  &-user{
    margin-bottom: 5px;
    margin-left: 10px;
  }
}

.comment-btn{
  border: 1px solid #fea3a3;
  width: 120px;
  padding: 10px;
  a{
    color: #fea3a3;
    font-size: 14px;
    text-decoration: none;
  }
}

.back-button{
  text-align: center;
  margin: 20px 0;
}

/*新規投稿ページ*/
.post-create{
  margin-top:30px;
  &-form{
    margin: 0 auto;
    border: 1px solid #dee2e6;
    background-color: white;
    width: 90%;
    padding: 20px;
    &-details{
      width: 90%;
    }
  }
}

/*ユーザ詳細の投稿一覧ページ*/

.post-all{
  background-color: white;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  &-view{
    color: #6c757d;
    border-bottom: 1px solid #dee2e6;
    font-size: 12px;
    display: inline-block;
    flex-direction: row-reverse;
    margin-bottom: 20px;
  }
  &-division{
    margin-bottom: 30px;
    border: 1px solid rgba(34, 34, 34, .125);
    border-radius: .15rem;
    .post-content{
      padding: 20px;
      &-title{
        display: inline-block;
        border-bottom: 1px solid #dee2e6;
      }
      .post-body{
        text-align: left;
        margin-top: 10px;
        padding-bottom: 30px;
        font-size: 12px;
      }
    }
  }
}

.post-category{
  background-color: #FFFFCC;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
  font-size: 12px;
}

.post-title{
  display: flex;
  font-size: 15px;
  border-bottom: 1px solid #dee2e6;
  padding: 15px;
  background-color: #faf8f5;
    p{
      font-weight: 600;
    }
}

.post-detail{
  padding: 0.5em 1em;
  margin: 2em;
  color: #474747;
  border-left: double 7px #4ec4d3;
  border-right: double 7px #4ec4d3;
    &-name{
      display: inline;
    }

  &-content{
    margin-top: 20px;
    font-size: 15px;
  }

}

.user-all{
  background-color: white;
  margin: 0 auto;
  width:70%;
  padding: 0 20px;
  margin-top: 30px;
  &-title{
    font-size: 15px;
    font-weight: 500;
    padding-top: 30px;
    padding-left: 5px;
  }
  &-info{
    display: flex;
    justify-content: center;

    &-division{
      border: 1px solid rgba(34, 34, 34, .125);
      border-radius: .15rem;
      padding: 10px;
      margin:10px 20px;
      width:30%;
    }
  }
}

/*ユーザー詳細ページ*/

.user-profile{
  padding-top:30px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  &-top{
    display: flex;
    align-items: center;
    .name{
      margin-left: 20px;

    }
  }
  &-main{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    .name{
      font-weight: 600;
      font-size: 20px;
      display: inline-block;
    }
    &-block{
      border-bottom: 1px solid #dee2e6;
      &-post{
        margin-top: 30px;
      }
      &-title{
        background-color: #f8f9fa;
        font-size: 12px;
        padding: 10px;
        border-left: 1px solid #dee2e6;
        margin-top: 20px;
      }
      &-detail{
        margin-top: 30px;
        h4{
          font-size: 15px;
          margin-left: 30px;
          border-left: 3px solid #222;
          padding-left: 10px;
        }
        &-content{
          padding-left: 45px;
          width:80%;
          height: auto;
          font-size: 13px;
          margin-top: 20px;
          margin-bottom: 50px;
        }
      }
    }
  }
  .tab-area {
    display: flex;
    cursor: pointer;
    width: 800px;
    margin: 0 auto;
    justify-content: center;
    .tab {
      width: 300px;
      line-height: 50px;
      text-align: center;
      border-left: 1px solid #dee2e6;
    }
    .tab.active {
      border: none;
      background-color: #f90;
    }
  }
  .content {
    display: none;
  }
  .content.show {
    margin-top: 50px;
    display: block;
  }
}

/*お気にいり投稿一覧*/
.favorite{
  margin-top: 25px;
  .post-all-division-top{
    display: flex;
    align-items: center;
    border: 1px solid #dee2e6;
    margin-bottom: 10px;
  }
  &-post-title{
    margin-left: 8px;
  }
}

/**/
.favorite-btn, .fa-thumbs-up{
  color: #fea3a3;
  padding: 5px;
}

.favorite-btn{
  width: 70px;
  margin-left: auto;
}

/*戻るボタン*/
.back-btn{
  margin: 0 auto;
}

footer{
  background-color: #343a40;
  color: white;
  li{
  display: flex;
  list-style: none;
  }
}

