/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*リセットCSS*/

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*リセットCSS終わり*/


html, body{
  height: 100% !important;
  margin: 0;
  background-color: #f8f9fa;
}

main{
  border-bottom: 1px solid #dee2e6;
}

.link-style{
  text-decoration: none !important;
  color: #565656;
}

header{
  background-color: white;
  height: 5%;
}
.header-menu{
  display: flex;
  position: relative;
  padding: 10px;
  a{
    text-decoration: none !important;
    color: black;
    cursor: pointer;
  }
  nav{
    margin-left: auto;
  }
}
.header-menu-right{
  display: flex;
  list-style: none;
  a{
    margin: 0 10px;
  }
}



.icon{
  border-radius: 50%;
  margin-bottom: 20px;
}

.top-page{
  position: relative;
  height: 70vh;
  background-image: image-url('topimage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 40px;

  &-text{
    position: absolute;
    top: 30%;
		left: 5%;
		width: 400px;
    margin: 2em auto;
    padding: 1em;
    background-color: rgba(238, 238, 238, 0.65);
		border: 1px solid #ccc; /* 枠線 */
		h1{
      color: black;
      font-size: 60px;
		}

	}
}

h2{
  text-align: center;
}

.navbar-nav{
  cursor: pointer;
  font-size: medium;
}

.form{
  padding: 1em;
  font-weight: bold;
  border: dashed 2px #5b8bd0;
  border-radius: 10px;

  .category_menu
  {
    display: inline-block;
  }
}

.user_info{
  margin-top: 20px;

  &_details{
    height: 100px;
  }


}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.post-all{
  background-color: white;
  margin: 0 auto;
  width:70%;
  padding: 0 20px;
  &-title{
    font-size: 15px;
    font-weight: 500;
    padding-top: 30px;
    padding-left: 5px;
  }

  &-view{
    color: #6c757d;
    border-bottom: 1px solid #dee2e6;
    font-size: 12px;
    display: inline-block;
    flex-direction: row-reverse;
  }

  &-division{
    margin-bottom: 30px;
    border: 1px solid rgba(34, 34, 34, .125);
    border-radius: .15rem;
    &-user{
      height: 40px;
      display: flex;
      background-color: #faf8f5!important;
      border-bottom: 1px solid rgba(34, 34, 34, .125);
      padding: 5px;

      p{
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  .post-info{
    &-content{
      margin-top: 10px;
      padding: 10px;
    }
  }

}

.post-category{
  background-color: #FFFFCC;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
  font-size: 12px;
}

.post-title{
  display: flex;
  font-size: 15px;
  color: #565656;
  border-bottom: 1px solid #dee2e6;
  padding: 5px;
    p{
      font-weight: 600;
    }
}

.post-detail{
  padding: 0.5em 1em;
  margin: 2em;
  color: #474747;
  border-left: double 7px #4ec4d3;
  border-right: double 7px #4ec4d3;
    &-name{
      display: inline;
    }

  &-content{
    margin-top: 20px;
    font-size: 15px;
  }

}

.user-all{
  background-color: white;
  margin: 0 auto;
  width:70%;
  padding: 0 20px;
  margin-top: 30px;
  &-title{
    font-size: 15px;
    font-weight: 500;
    padding-top: 30px;
    padding-left: 5px;
  }
  &-info{
    display: flex;
    justify-content: center;

    &-division{
      border: 1px solid rgba(34, 34, 34, .125);
      border-radius: .15rem;
      padding: 10px;
      margin:10px 20px;
      width:30%;
    }
  }
}

.user_profile{
  margin: 0 auto;
  &-top{
  }
  .name{
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
  }
  h3, h4{
    font-size: 12px;
  }
}

h4{
  margin-left: 30px;
  border-left: 3px solid #222;
  padding-left: 10px;
}

footer{
  background-color: #343a40;
  color: white;
  li{
  display: flex;
  list-style: none;
  }
}